<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <div class="col-sm-2">
      <ul class="side-bar-nav">
        <li><a href="/catalog">Home</a></li>
        <li><a href="/catalog/books">All books</a></li>
        <li><a href="/catalog/authors">All authors</a></li>
        <li><a href="/catalog/genres">All genres</a></li>
        <li><a href="/catalog/bookinstances">All book-instances</a></li>
        <li><hr /></li>
        <li><a href="/catalog/author/create">Create new author</a></li>
        <li><a href="/catalog/genre/create">Create new genre</a></li>
        <li><a href="/catalog/book/create">Create new book</a></li>
        <li><a href="/catalog/bookinstance/create">Create new book instance</a></li>
      </ul>
    </div>

    <div>
      <h1><%= title %></h1>
    <h4>Books</h4>
    <% if (genre_books.length) { %>
      <% genre_books.forEach(book => { %>
        <a href=<%= book.url %>><%= book.title %></a>
        <p><%= book.summary %></p>
      <% }) %>
    <% } else { %>
      <p>This genre has no books.</p>
    <% } %>
    <a href=<%= genre.url+"/delete" %>>Delete Genre</a>
    <a href=<%= genre.url+"/update" %>>Update Genre</a>
    </div>
  </div>  
</body>
</html>