<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Local Library!</p>
    <p>
      The library has the following record counts: 
      <ul>
        <li>Books: <%= book_count %></li>
        <li>Copies: <%= book_instance_count %></li>
        <li>Copies Available: <%= book_instance_available_count %></li>
        <li>Authors: <%= author_count %></li>
        <li>Genres: <%= genre_count %></li>
      </ul>
    </p>
  </body>
</html>
